body{
    font-family: 'Montserrat', sans-serif;
}

#scrollUi{
    margin: 0 auto 0 auto;
    width: 80%;
    margin-top: 2%;
}

 #quantName{
    margin-right: 8%; 
    margin-left: 8%;
}

.name{
    font-size: xx-large;
}

.inputName{
    font-size: large;
}

#submitButton{
    background-color: #0fa2eb;
	border-radius:28px;
	border:1px solid #0fa2eb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:medium;
    padding:1% 2% 1% 2%;
    margin-left: 39%;
    margin-top: 2%;
}

.qvname{
    display: inline-block;
    width: 40%;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

.box{
    font-size: larger;
    width: 10%;
    padding: 1%;
    margin-left: 3%;
    margin-right: 10%;
    border:1px solid #D0D0D0; 
} 

#totalGraphUi{
    background-color:#ECF0F1;
    margin: auto;
    margin-top: 2%;
    padding: 1% 15% 1% 15%;
}

#twoGraphUi{
    margin: auto;
    width: 70%;
    margin-top: 4%;
    
}

#totalGraphUi>div,#twoGraphUi div,#scrollUi div{
    margin-bottom: 1%;
}

#quantGraphUi{
    float:left;  
    width:45%; 
    border-right: 2px solid #e6e6fa;
    padding-right: 4%;
}

#verbalGraphUi{
    float:right; 
    width:45%;
    padding-left: 4%;
}

/*====GRAPH ARROW AND DATA----START========*/
/*TOTAL GRAPH*/

#totalIndicatorCurrent{ /*fill by JS width*/
    float:left;
    display: inline-block;
}

#totalCurrentScoreAboveArrow{
    position: relative;
    right:-95%
}

#totalTargetScoreAboveArrow{
    position: relative;
    right:-90%
}

#totalCurrentScoreArrow{
    color: #0fa2eb;
    font-size: large;
    position: relative;
    right:-95%
}

#totalIndicatorTarget{ /*Fill By JS width*/
    display: inline-block;
}


#totalTargetScoreArrow{
    color: #ffe28a;
    font-size: large;
    position: relative;
    right:-90%
}


/*QUANT GRAPH*/

#quantIndicatorCurrent{ /*fill by JS width*/
    float:left;
    display: inline-block;
}

#quantCurrentScoreAboveArrow{
    position: relative;
    right:-95%
}

#quantTargetScoreAboveArrow{
    position: relative;
    right:-90%
}

#quantCurrentScoreArrow{
    color: #0fa2eb;
    font-size: large;
    position: relative;
    right:-95%
}

#quantIndicatorTarget{ /*Fill By JS width*/
    display: inline-block;
}


#quantTargetScoreArrow{
    color: #ffe28a;
    font-size: large;
    position: relative;
    right:-90%
}

/*VERBAL GRAPH*/

#verbalIndicatorCurrent{ /*fill by JS width*/
    float:left;
    display: inline-block;
}

#verbalCurrentScoreAboveArrow{
    position: relative;
    right:-95%
}

#verbalTargetScoreAboveArrow{
    position: relative;
    right:-90%
}

#verbalCurrentScoreArrow{
    color: #0fa2eb;
    font-size: large;
    position: relative;
    right:-95%
}

#verbalIndicatorTarget{ /*Fill By JS width*/
    display: inline-block;
}


#verbalTargetScoreArrow{
    color: #ffe28a;
    font-size: large;
    position: relative;
    right:-90%
}


/*====GRAPH ARROW AND DATA----END========*/

.meter,.meterQuant,.meterVerbal { 
	height: 20px;  
    background:#f5f5f5;
<<<<<<< HEAD
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
=======
>>>>>>> 5e0efd3c4e12079e70c1a3f08f9bb2c60d9d2bfc
}

.meter > span:nth-child(1),.meterQuant > span:nth-child(1),.meterVerbal > span:nth-child(1) {
  display: inline-block;
  height: 100%;
  background-color:#0fa2eb;
<<<<<<< HEAD
  text-align: center;
  float:left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
=======
  width:30%;
  text-align: center;
  float:left;
>>>>>>> 5e0efd3c4e12079e70c1a3f08f9bb2c60d9d2bfc
  
}
.meter > span:nth-child(2),.meterQuant > span:nth-child(2),.meterVerbal > span:nth-child(2) {
  display: inline-block;
  height: 100%;
<<<<<<< HEAD
  position: relative;
  text-align: center;
  left:-9px;
  border-radius: 0px 10px 10px 0px;
  background-image:radial-gradient(circle at LEFT, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 9px,#ffe28a 1px)
}

.grayText{
    color: #85929E;
=======
  background-color: #ffe28a;
  text-align: center;
  width:40%
>>>>>>> 5e0efd3c4e12079e70c1a3f08f9bb2c60d9d2bfc
}